<div class="panel panel-default">

  <div class="panel-heading">
    <div id="head">
      <div
        style="float: left; color: #428BCA">
        <span class="glyphicon glyphicon-list"></span>
        <span style="color: black;">
          {{ currChapter.name }}
        </span>
      </div>
      <div style="float: right">
        <button class="btn btn-success"
                *ngIf="isAdminLogin"
                (click)="editChapter()">Eidt</button>
      </div>
    </div>
  </div>


  <div class="panel-body">
    <app-step-item
      *ngFor="let i of steps;"
      [step]="i"
    ></app-step-item>
  </div>
</div>

<button class="btn btn-success"
        *ngIf="isAdminLogin"
        (click)="newStep()">New Step</button>

<br>
<br>
