<div class="panel panel-default">
  <div class="panel-heading">
    <div id="head">
      <div style="float: left; color: #428BCA">
        <span class="glyphicon glyphicon-list"></span>
        <span style="color: black">  {{ topic.name }}</span>
      </div>
      <div style="float: right">
        <button class="btn btn-success"
                   *ngIf="isAdminLogin"
                   (click)="onClick()">Edit</button>
      </div>
    </div>
  </div>

  <div class="panel-body">
      <app-product-item
        *ngFor="let i of products"
        [product]="i"
      ></app-product-item>

    <div class="col-xs-6 col-md-3" >
      <div class="caption"
           (click)="newProduct()"
           *ngIf="isAdminLogin"
           routerLinkActive="active"
           style="cursor: pointer">
        <a  class="thumbnail module">
          <h2>{{ productNew.name }}</h2>
          <p>{{ productNew.description }}</p>
        </a>
      </div>
    </div>

  </div>
</div>




