<div class="pageDiv">
  <nav>
    <ul class="pagination">
      <li class="{ disabled: searchResponseData.first }">
        <a (click)="jump('first')">«</a>
      </li>
      <li class="{ disabled: !searchResponseData.hasPrevious }">
        <a (click)="jump('pre')">‹</a>
      </li>

      <li  *ngFor="let i of navigatepageNums" [ngClass]="{'active' : currPage === i}">
        <a (click)="jumpByNumber(i-1)">
          {{i}}
        </a>
      </li>

      <li :class="{ disabled: !searchResponseData.hasNext }">
        <a (click)="jump('next')">›</a>
      </li>
      <li :class="{ disabled: searchResponseData.last }">
        <a (click)="jump('last')"> »</a>
      </li>
    </ul>
  </nav>
</div>

<ul *ngFor="let i of searchResult;let idx = index">
  <a (click)="jumpToStep(i)">
    <span class="pull-left">
      <img
        [src]="'https://www.easyicon.net/api/resizeApi.php?id=1226777&size=128'"
        class="img-responsive"
        style="max-height: 20px;">
    </span>
    <span [innerHTML]="i.chapter.product.topic.name | highlight:keyword"></span>
    -> <span [innerHTML]="i.chapter.product.name | highlight:keyword"></span>
    -> <span [innerHTML]="i.chapter.name | highlight:keyword"></span>
    -> <span [innerHTML]="i.name | highlight:keyword"></span>
  </a>
  <quill-view-html
    [content]="i.content"
    format="text"
    theme="snow"
  ></quill-view-html>
</ul>


<div class="pageDiv">
  <nav>
    <ul class="pagination">
      <li class="{ disabled: searchResponseData.first }">
        <a (click)="jump('first')">«</a>
      </li>
      <li class="{ disabled: !searchResponseData.hasPrevious }">
        <a (click)="jump('pre')">‹</a>
      </li>

      <li  *ngFor="let i of navigatepageNums" [ngClass]="{'active' : currPage === i}">
        <a (click)="jumpByNumber(i-1)">
          {{i}}
        </a>
      </li>

      <li :class="{ disabled: !searchResponseData.hasNext }">
        <a (click)="jump('next')">›</a>
      </li>
      <li :class="{ disabled: searchResponseData.last }">
        <a (click)="jump('last')"> »</a>
      </li>
    </ul>
  </nav>
</div>
